.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  padding: 16px;
  background-color: rgb(155, 28, 148);
  color: goldenrod;
  cursor: pointer;
  border-radius: 15px;
}
